
    <div class="page-header">
        <!-- page header -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- page title -->
                    <!-- <h1 class="page-title">Cities to explore</h1> -->
                </div> 
            </div>
        </div>
    </div>
    

    <div class="content">
        <!-- content -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="">
                            <div class="row">
                            <h3>Cities in {{queryString.id | splitByName}}</h3>
                            <br />
                                <p>Undoubtedly the best  trip for any first time traveler to India with lack of time which shows you the best during the short period ,trip take you back to trough time when you visit the capital of India which is ruined 7 times and still tells you lots of stories ,moving further to Agra to witness monument of eternal love The Taj Mahal ,and finally showing you the capital of Princely state of Rajasthan</p>

    <div class="row" ng-if="citiesList.length"> 
                            <div class="col-md-3" ng-repeat="x in citiesList"> 
                                <div class="hostel-thumbnail-list">
                                    <!-- hostel thumbnail list -->
                                    <div class="hostel-list-img">
                                        <a href="javascript:void(0)" ng-click="redirectToPackageView(x)">
                                        <img ng-src="dist/images/destination-4.jpg"  alt="" style="border-radius: 4px 4px 4px 4px;">
                                         <div class="cityNameonImage">{{x.ci_name}}</div>
                                         </a>
                                    </div> 
                                </div>
                            </div> 
    </div>
    <div ng-if="!citiesList.length" class="alert alert-danger">
        No Results Found.
    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
   .cityNameonImage {
           position: absolute;
    z-index: 9999;
    font-size: 20px;
    top: 0px;
    text-align: center;
    background: #0e0e0e47;
    width: 100%;
    bottom: 0px;
    padding: 70px 0px;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
    }
    </style>
 