    <!-- /.header wide -->
    <div class="header-banner">
    <div class="thumbnail-carousel">
       <data-owl-carousel class="owl-carousel" data-options="bannerOptions">
      <div owl-carousel-item="" ng-repeat="item in bannerImages" class="item">
        <img ng-src="https://admin-travelbasera.herokuapp.com/{{item.imageUrl}}" height="600px" title="{{item.imageTitle}}">
      </div>
    </data-owl-carousel>
    </div>
    <div class="bannerOverlays"></div>

     
        <div class="content-Banner">
        <div class="container">
             <div class="search-head">
                            <h1 class="display-1">Find Great Packages For  Explore.</h1>
                            <p class="hidden-xs"> 35,000 properties, 170 countries • Over 1 million verified guest reviews • 24/7 customer service</p>
                        </div>
        </div>
        </div>
        <div class="container" >
        <form name="searchForm">
        <div class="search-box search-transparent" style="display: flex">
        
                <select class="form-control" ng-model="search.source" required> 
                    <option value="1-Mumbai">Mumbai</option>
                    <option value="2-New Delhi">New Delhi</option> 
                </select>
             
                 <i class="fa fa-map-marker" style=" position: absolute;left: 15px; top: 23px; color:#fff"></i>
                <input type="text" class="form-control" placeholder="To" ng-model="search.destination" required />
                 <i class="fa fa-location-arrow" style="position: absolute;left:355px;top: 23px;color:#fff"></i>
                 <input type="date" class="form-control" placeholder="date" ng-model="search.date" required />
                <i class="fa fa-calendar" style="position: absolute;right: 392px;top: 23px;color:#fff"></i>
                <button class="btn btn-default" ng-click="searchPackage(search)">Find</button>
                
        </div>
        </form>
                        </div>
    </div>

    <!-- Packages Section start -->
    <div class="space-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Most Popular Packages</h2>
                        <p>Discover incredible hostels in the heart of the city.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
           <div class="row">
                <div class="thumbnail-carousel">

                     <data-owl-carousel class="owl-carousel" data-options="popularOptions">

				      <div owl-carousel-item="" ng-repeat="item in popular" class="item">
				        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hostel-thumbnail-list">
                                    <!-- hostel thumbnail list -->
                                    <div class="hostel-list-img">
                                        <a href="javascript:void(0)" ng-click="redirectToPackageDetails(item.title, item._id)"><img ng-src="https://admin-travelbasera.herokuapp.com/{{item.mainImage}}"  alt=""></a>
                                        <div class="popular_Overlay">
                                             
                                        </div>
                                    </div>
                                    <div class="hostel-content">
                                        <div class="hostel-head">
                                            <h3 class="hostel-title"><a href="javascript:void(0)" ng-click="redirectToPackageDetails(item.title, item._id)" class="title">{{item.title}}</a></h3>
                                            <ul style="list-style: none">    
                                                <li ng-repeat="y in item.highlights" style="font-size: 13px;line-height: 18px">{{y.title}}</li>
                                            </ul> 
                                        </div>
                                        <div class="hostel-meta">
                                            <span class="hostel-price"><span class="price-from">From</span> <span class="price"> <i class="fa fa-rupee"></i>{{item.rate}}</span></span>
                                            <span class="hostel-rating">
                                     <span class="reviews">{{item.days}} <i class="fa fa-sun-o" style="color: #1b75fa;"></i>/ {{item.nights}} <i class="fa fa-moon-o" style="color: #1b75fa;"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.hostel thumbnail list -->
                            </div>
				      </div>
				    </data-owl-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <!-- section title start-->
                        <h2>Your Destination, Your Way</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="destination-grid-box">
                        <!-- destination grid box -->
                        <div class="destination-img"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[0].cat_name, categories[0].cat_code)"><img src="https://admin-travelbasera.herokuapp.com/{{categories[0].cat_image}}" alt="australia" class="img-responsive"></a>
                            <div class="destination-content">
                                <h2 class="destination-title"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[0].cat_name, categories[0].cat_code)">{{categories[0].cat_name}}</a></h2>
                            </div>
                        </div>
                        <div class="overlayDest">
                        <h2  ><a href="javascript:void(0)" ng-click="redirectToPackages(categories[0].cat_name, categories[0].cat_code)">{{categories[0].cat_name}}</a></h2>
                        <p>{{categories[0].cat_desc}}</p>
                        <a href="javascript:void(0)" ng-click="redirectToPackages(categories[0].cat_name, categories[0].cat_code)" class="btn btn-default btn-xs">Explore</a>
                        </div>
                    </div>
                    <!-- /.destination grid box -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="destination-grid-box">
                        <!-- destination grid box -->
                        <div class="destination-img"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[1].cat_name, categories[1].cat_code)"><img src="https://admin-travelbasera.herokuapp.com/{{categories[1].cat_image}}" alt="australia" class="img-responsive"></a>
                            <div class="destination-content">
                                <h2 class="destination-title"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[1].cat_name, categories[1].cat_code)">{{categories[1].cat_name}}</a></h2></div>
                        </div>
                        <div class="overlayDest">
                        <h2  ><a href="javascript:void(0)" ng-click="redirectToPackages(categories[1].cat_name, categories[1].cat_code)">{{categories[1].cat_name}}</a></h2>
                        <p>{{categories[1].cat_desc}}</p>
                        <a href="javascript:void(0)" ng-click="redirectToPackages(categories[1].cat_name, categories[1].cat_code)" class="btn btn-default btn-xs">Explore</a>
                        </div>
                    </div>
                    <!-- /.destination grid box -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="destination-grid-box">
                        <!-- destination grid box -->
                        <div class="destination-img"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[2].cat_name, categories[2].cat_code)"><img src="https://admin-travelbasera.herokuapp.com/{{categories[2].cat_image}}" alt="australia" class="img-responsive"></a>
                            <div class="destination-content">
                                <h2 class="destination-title"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[2].cat_name, categories[2].cat_code)">{{categories[2].cat_name}}</a></h2></div>
                        </div>
                        <div class="overlayDest">
                        <h2  ><a href="javascript:void(0)" ng-click="redirectToPackages(categories[2].cat_name, categories[2].cat_code)">{{categories[2].cat_name}}</a></h2>
                        <p>{{categories[2].cat_desc}}</p>
                        <a href="javascript:void(0)" ng-click="redirectToPackages(categories[2].cat_name, categories[2].cat_code)" class="btn btn-default btn-xs">Explore</a>
                        </div>
                    </div>
                    <!-- /.destination grid box -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="destination-grid-box landscape">
                        <!-- destination grid box -->
                        <div class="destination-img"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[3].cat_name, categories[3].cat_code)"><img src="https://admin-travelbasera.herokuapp.com/{{categories[3].cat_image}}" alt="australia" class="img-responsive"></a>
                            <div class="destination-content">
                                <h2 class="destination-title"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[3].cat_name, categories[3].cat_code)">{{categories[3].cat_name}}</a></h2></div>
                        </div>
                        <div class="overlayDest">
                        <h2  ><a href="javascript:void(0)" ng-click="redirectToPackages(categories[3].cat_name, categories[3].cat_code)">{{categories[3].cat_name}}</a></h2>
                        <p>{{categories[3].cat_desc}}</p>
                        <a href="javascript:void(0)" ng-click="redirectToPackages(categories[3].cat_name, categories[3].cat_code)" class="btn btn-default btn-xs">Explore</a>
                        </div>
                    </div>
                    <!-- /.destination grid box -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="destination-grid-box landscape">
                        <!-- destination grid box -->
                        <div class="destination-img"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[4].cat_name, categories[4].cat_code)"><img src="https://admin-travelbasera.herokuapp.com/{{categories[4].cat_image}}" alt="australia" class="img-responsive"></a>
                            <div class="destination-content">
                                <h2 class="destination-title"><a href="javascript:void(0)" ng-click="redirectToPackages(categories[4].cat_name, categories[4].cat_code)">{{categories[4].cat_name}}</a></h2></div>
                        </div>
                        <div class="overlayDest">
                        <h2  ><a href="javascript:void(0)" ng-click="redirectToPackages(categories[4].cat_name, categories[4].cat_code)">{{categories[4].cat_name}}</a></h2>
                        <p>{{categories[4].cat_desc}}</p>
                        <a href="javascript:void(0)" ng-click="redirectToPackages(categories[4].cat_name, categories[4].cat_code)" class="btn btn-default btn-xs">Explore</a>
                        </div>
                    </div>
                    <!-- /.destination grid box -->
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-default">
    <div class="section_bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2 class="title-white">Help You Meet The World</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="feature feature-center">
                        <div class="feature-icon"><i class="fa fa-search"></i></div>
                        <div class="feature-content">
                            <h3 class="feature-title">Hostels you’ll love</h3>
                            <p>Vestibulum mi mi, dapibus nec odio quis, interdum pretium sem. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="feature feature-center">
                        <div class="feature-icon"><i class="fa fa-heart"></i></div>
                        <div class="feature-content">
                            <h3 class="feature-title">Instant Confirmation</h3>
                            <p> Various versions have evolved over the years, sometimes bd the like.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="feature feature-center">
                        <div class="feature-icon"><i class="fa fa-gratipay"></i></div>
                        <div class="feature-content">
                            <h3 class="feature-title">24/7 Customer Service</h3>
                            <p>Proin dolor ante, sagittis ac cursus sit amet, volutpat ac viverra.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Happy Clients Reviews</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
                <div class="thumbnail-carousel">
                    <data-owl-carousel class="owl-carousel" data-options="testimonialsOptions">
			      <div owl-carousel-item="" ng-repeat="item in testimonialsData" class="item">
			        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="testimonial-block">
                                    <!-- testimonial block -->
                                    <div class="testimonial-user">
                                        <div class="testimonial-img"><img style="width:80px; height:80px" ng-src="https://admin-travelbasera.herokuapp.com/{{item.reviewer_img}}" alt="" class="img-circle"></div>
                                        <div class="testimonial-info">
                                            <h4 class="testimonial-name">{{item.reviewer_name}}</h4>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <h4>{{item.reviewer_title}}</h4>
                                        <p class="testimonial-text">{{item.reviewer_desc}}</p> 
                                        <span class="rate" ng-repeat="x in item.ratingArray"><i class="fa fa-star"></i> </span>
                                    </div>
                            </div>
                                <!-- /.hostel thumbnail list -->
                            </div>
                        </div>  
			      </div>
			    </data-owl-carousel>
                </div>
                   
                    <!--/. testimonial block -->
        </div>
    </div>

     <div id="mapLoad" style="height:300px"></div>


 <!--  <div class="space-medium" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Latest Blog Posts</h2>
                        <p>We want to make sure that you get to explore as much.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <div class="post-img">
                            <a href="blog-single.html"><img src="dist/images/post-1.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title"><a href="blog-single.html" class="title">Heading Title of News</a></h3>
                            <p class="meta"> <span class="meta-date"> 1 January 2018</span>
                                <span class="meta-comment"><a href="#">(12) Comments</a></span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <div class="post-img">
                            <a href="blog-single.html"><img src="dist/images/post-2.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title"><a href="blog-single.html" class="title">Heading Title of News</a></h3>
                            <p class="meta"> <span class="meta-date"> 1 January 2018</span>
                                <span class="meta-comment"><a href="#">(12) Comments</a></span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <div class="post-img">
                            <a href="blog-single.html"><img src="dist/images/post-3.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title"><a href="blog-single.html" class="title">Heading Title of News</a></h3>
                            <p class="meta"> <span class="meta-date"> 1 January 2018</span>
                                <span class="meta-comment"><a href="#">(12) Comments</a></span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->