<style>
.sel_inclusions img{width: 12% !important;
    height: 20% !important;
}
</style>
    

    <div class="page-header">
        <!-- page header -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- page title -->
                    <h1 class="page-title">Himanchal Pradesh Trips</h1>
                </div>
                <!-- /.page title -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Himanchal Pradesh</li>
                    </ol>
                </div>
                <!-- /.breadcrumb -->
            </div>
        </div>
    </div>
    <!-- /.page header -->
    <div class="content"> 
        <div class="content-area">
            <div class="container">
                <div class="row"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                        <p style="margin-bottom:0px; font-size:12px; color:#000">{{data.length}} results found.</p>
                        <div class="row"> 
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="x in data track by $index">
                                <div class="hostel-thumbnail-list">
                                    <!-- hostel thumbnail list -->
                                    <div class="hostel-list-img" style="max-height: 202px">
                                        <a href="javascript:void(0)" ng-click="redirectToPackageDetails(x.title, x._id)"><img src="http://localhost:3001/{{x.mainImage}}" alt="accommodation booking websites design"></a> 
                                         <div class="popular_Overlay">
                                            <h3 style="color:#fff">Inclusions</h3> 
                                           <span ng-repeat="y in x.selectedInclusion" class="sel_inclusions" >
                                           <img src="http://localhost:3001/{{y.i_icon}}" width="30px !important" height="30px" title="{{y.i_name}}" /></span>
                                        </div>
                                    </div>
                                    <div class="hostel-content">
                                        <div class="">
                                            <h3 class="hostel-title"><a href="javascript:void(0)" ng-click="redirectToPackageDetails(x.title, x._id)" class="title">{{x.title}}</a></h3>
                                           
                                            <ul style="list-style: none">    
                                                <li ng-repeat="y in x.highlights" style="font-size: 13px;line-height: 18px">{{y.title}}</li>
                                            </ul> 
                                        </div>
                                        <div class="hostel-meta">
                                            <span class="hostel-price"><span class="price-from">Starting From</span>&nbsp; <span class="price"><i class="fa fa-rupee"></i> {{x.rate}}</span></span>
                                            <span class="hostel-rating"> 
                                            <span class="reviews">{{x.days}} <i class="fa fa-sun-o" style="color: #1b75fa;"></i>/ {{x.nights}} <i class="fa fa-moon-o" style="color: #1b75fa;"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.hostel thumbnail list -->
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  