
<style>
    .header{background-color: #fff;}
    .header #navigation>ul>li>a{color:#646869;}
    .content{margin-top:95px;}
    .tab-pane hr{margin:0px;}
    .tab-pane ul{padding-left: 20px;}
    .tabpaneDiv{margin-bottom:10px;} 
</style>
<!-- /.single page header -->
    <div class="content">
        <!-- content -->
        <div class="content-area"> 
            <div class="container">
            <div class="package__title">{{data.title}}</div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 noplr packageDescription" >
        <div class="single-page-header packageMainSlider" style="position: relative;">
            <div class="thumbnail-carousel">
               <data-owl-carousel class="owl-carousel" data-options="bannerOptions">
              <div owl-carousel-item="" ng-repeat="item in bannerImages" class="item">
                <img ng-src="http://www.admin.travelbasera.com/{{item}}" class="packageImages">
              </div>
            </data-owl-carousel>
            </div>
            <!-- <img src="https://yuvatrip.com/btc/images/holidays/header/h_75.png" width="100%" style=""> -->
            <div class="img__Overlay"></div>
          <div class="daysBox"> 
            <span style="display: block">{{data.days}} <i class="fa fa-sun-o"></i></span>
            <span> {{data.nights}} <i class="fa fa-moon-o"></i></span>
        </div>
        <!-- single page header -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

                <div class="price-box">
                  <h2 class="hostel-rate"> 
                      <span ng-if="data.rate != 0">
                          <span class="rate-from"></span><i class="fa fa-rupee"></i> {{data.rate}} <small>/ Per Adult</small>
                        </span>
                        <span ng-if="data.rate == 0"><i class="fa fa-rupee"></i> Price on Demand</span>
                    </h2>
                </div>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="hostel-wishlist"><a href="#" class="wishlist-heart"></a></div>
                </div>
            </div>
        </div>
    </div>


    <!--Package Details-->
  <ul class="nav nav-tabs">
        <li class="active" ng-class="{ active: isSet(1) }" ng-click="setTab(1)"><a title="Overview" href="javascript:void(0)"><i class="fa fa-location-arrow"></i></a></li>
        <li ng-class="{ active: isSet(2) }" ng-click="setTab(2)"><a title="Inclusions" href="javascript:void(0)"><i class="fa fa-exchange"></i></a></li>
        <li ng-class="{ active: isSet(3) }" ng-click="setTab(3)"><a title="Itenary" href="javascript:void(0)"><i class="fa fa-map-o"></i></a></li>
        <li ng-class="{ active: isSet(4) }" ng-click="setTab(4)"><a title="Dates & Rates" href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
        <li ng-class="{ active: isSet(5) }" ng-click="setTab(5)"><a title="Policies"href="javascript:void(0)"><i class="fa fa-file-o"></i></a></li>

  </ul>

  <div class="tab-content">
   <!--Tab 1-->
    <div id="home" ng-show="isSet(1)" class="tab-pane fade in active">
        <h4>Overview</h4><hr/>
       <div ng-bind-html="packDescription"></div>
    </div>
    <!--Tab2-->
    <div id="menu1" ng-show="isSet(2)" class="tab-pane fade in active"> 
      <h4>Inclusions</h4><hr/>
      <div class="tabpaneDiv">
        <ul>
                <li ng-repeat="x in data.inclusions">{{x}}</li>
            </ul>
      </div>
      <h4>Exclusions</h4><hr/>
      <div class="tabpaneDiv" >
            <ul>
                <li ng-repeat="x in data.exclusions">{{x}}</li>
            </ul>

      </div>
    </div>

    <!--Tab3-->
    <div id="menu2" ng-show="isSet(3)" class="tab-pane fade in active">
    <h4>Itenary</h4><hr/>
      <div ng-repeat="x in data.itenaries[0].package_itenary" style="margin-bottom:10px">
        <b>{{x.title}}</b>
        <p>{{x.description}}</p>
      </div>
    </div>

    <!--Tab4-->
    <div id="menu3" ng-show="isSet(4)" class="tab-pane fade in active">
      <h4>Package Details</h4><hr/>
      <div class="row">
      <div class="col-md-12">
        <div class="row">
             <div class="col-md-4"><b>Departure City</b></div>
             <div class="col-md-8">{{data.sourceCity | splitByName}}</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-4"><b>Days</b></div>
            <div class="col-md-8">{{data.days}}</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-4"><b>Nights</b></div>
            <div class="col-md-8">{{data.nights}}</div>
        </div>
      </div>
      <div class="col-md-12">
          <div class="row">  
            <div class="col-md-4"><b>Rate</b> <small>(Per Person)</small></div>
            <div class="col-md-8">{{data.rate}} /-</div>
        </div>
      </div>
      </div>
    </div>
     <!--Tab5-->
    <div id="menu4" ng-show="isSet(5)" class="tab-pane fade in active">
        <h4>Policies</h4><hr/>
        <div class="tabpaneDiv">
            <b>Payment Policy</b>
            <ul>
              <li ng-repeat="x in data.policies[0].paymentPolicy">{{x}}</li>
            </ul> 
        </div>
        <div class="tabpaneDiv">
            <b>Cancellation Policy</b>
            <ul>
            <li ng-repeat="x in data.policies[0].cancellationPolicy">{{x}}</li>
            </ul> 
        </div>
        <div class="tabpaneDiv">
            <b>Other Policy</b>
            <ul>
              <li ng-repeat="x in data.policies[0].otherPolicy">{{x}}</li>
            </ul> 
        </div> 
    </div>
  </div>

    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="single-page-sidebar">
                            <div class="widget widget-contact"> 
                                <h3 class="widget-title">Inclusions</h3>
                                <span ng-repeat="x in data.selectedInclusion">
                                <img src="http://www.admin.travelbasera.com/{{x.i_icon}}" width="30px" height="30px" title="{{x.i_name}}" />
                                </span>
                            </div>
                            <div class="widget widget-contact" ng-if="data.discountApplied=='Yes'"> 
                                <h3 class="widget-title">Discount Offer</h3> 
                                {{data.discountRate}}% is discount for this package
                            </div>
                            <div class="widget widget-contact"> 
                                <h3 class="widget-title">Check Availability</h3>
                                <button class="btn btn-default   btn-block" data-toggle="modal" data-target="#myModal">Check My Availability Now</button>
                                <p style="text-align: center;">or</p>
                                <button class="btn btn-primary   btn-block bookNowBtn" ng-click="redirectToBookNow()">Book Now</button>
                            </div>
                            <!-- <div class="widget widget-contact box-bg">
                                <h3 class="widget-title">Contact Owner</h3>
                                <form>
                                    <div class="form-group">
                                        <label for="Name" class="sr-only">Name</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="sr-only">Email address</label>
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="Subject" class="sr-only">Subject</label>
                                        <input type="text" class="form-control" id="Subject" placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <label for="message" class="sr-only">Write a Message</label>
                                        <textarea class="form-control" id="message" rows="4" placeholder="Write a Message"></textarea>
                                    </div>
                                    <button class="btn btn-default" type="submit btn-sm">Submit</button>
                                </form>
                            </div> -->
                           <!--  <div class="widget">
                                <h3 class="widget-title">Social Media</h3>
                                <ul class="hostel-social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
   

   <!-- Modal -->
<div id="myModal" class="availibilityBox modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Availability Check</h4>
      </div>
      <div class="modal-body" style="width:100%; float:left">
        <form name="availForm">
            <div class="col-md-6">
            <label>Name*</label>
                <input type="text" class="form-control" placeholder="Enter Name" ng-model="enquiry.name" required><br />
             <label>Mobile No.*</label>   
                <input type="tel" class="form-control" placeholder="Enter Mobile" name="mobile" ng-model="enquiry.mobile" required maxlength="10" minlength="10" ng-pattern="/^\d{10}$/">
                <p class="__errorMsg" ng-show="availForm.mobile.$touched && availForm.mobile.$invalid ">
                <span ng-show="availForm.mobile.$error.required">Mobile number is required.</span>
                <span ng-show="availForm.mobile.$error.pattern">Enter valid Mobile number.</span>
                <span ng-show="availForm.mobile.$error.min">Enter valid Mobile number.</span>
                <span ng-show="availForm.mobile.$error.max">Enter valid Mobile number.</span>
            </p>

                <br />
            <label>Travel From</label>
                <input type="date" class="form-control" ng-model="enquiry.from"> <br />
            <label>No. of Travellers</label>
                <input type="number" class="form-control" min="1" placeholder="No. of Travellers" ng-model="enquiry.travellers">
                
            </div>
            <div class="col-md-6">
            <label>Email Id*</label>
                <input type="text" class="form-control" placeholder="Enter Email " ng-pattern="/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" name="email" ng-model="enquiry.email" required>
                  <p class="__errorMsg" ng-show="availForm.email.$touched && availForm.email.$invalid ">
                    <span ng-show="availForm.email.$error.required">Email is required.</span>
                    <span ng-show="availForm.email.$error.pattern">Enter valid Email.</span>
                </p>

                <br /> 
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Enter Country" ng-model="enquiry.country"><br />
            <label>Travel To</label>
                <input type="date" class="form-control" placeholder="Enter Country" ng-model="enquiry.to"> <br /> 
            <label>Additional Query</label>
                <textarea rows="3" class="form-control" placeholder="Additional Query" ng-model="enquiry.query"></textarea> 
            </div>
            <div class="col-md-12">
            
            </div>
            <div style="clear:both"></div>
            <div class="alert alert-success" ng-if="successPop">Your query is submitted successfully.</div>
        </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-success " ng-click="submitForm(enquiry)">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<style>
.__errorMsg{
  font-size:12px;
  color:red;
}
</style>